%%  Copyright (c) Sergey Chernov <chernser@outlook.com>
%%  All rights reserved.

{lib_dirs, ["../socket_io_erl"]}.
{deps_dir, "./deps"}.

%% EUnit ======================================================================
{eunit_opts,
  [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

%% Compiler Options ===========================================================
{erl_opts,
  [{src_dirs, ["src"]},
    debug_info,
    warnings_as_errors]}.

%% Dependencies ===============================================================
{deps,
  [{cowboy, ".*",
    {git, "git://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
   {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {branch, "develop"}}}]
}.

%% Rebar Plugins ==============================================================
{plugins, []}.
