%%-*- mode: erlang -*-

{erl_opts, [
    debug_info
]}.

{lib_dirs, ["./lib", "./deps"]}.


{deps, [
   {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.0"}}}
  ,{meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, "develop"}}}
  

]}.


%%{cover_enabled, true}.
%%{cover_print_enabled, true}.
